###### 400 exercícios do básico ao avançado

1 - Crie 3 variáveis com 3 tipos de dados diferentes, respeitando sua sintaxe

In [1]:
string_nome = 'Jhonata'
int_inteiro = 10
float_ponto_flutuante = 1.5
booleano = 'Falso'

ano = 2023
valor = 1.99

2 - Crie um comentário de no máximo uma linha

In [2]:
# Criando comentário de uma linha

3 - Crie um comentário de mais de uma linha

In [3]:
'''Comentário de mais de uma linha
da lista de exercício de 400 exercícios
do básico ao avançado. todo comentário deve estar entre 3 aspas simples
ou 3 aspas duplas'''

'Comentário de mais de uma linha\nda lista de exercício de 400 exercícios\ndo básico ao avançado. todo comentário deve estar entre 3 aspas simples\nou 3 aspas duplas'

4 - Escreva um programa que mostra em tela a mensagem: Olá Mundo!!!

In [4]:
print(str('Olá Mundo!!!'))
#print(bool('Olá Mundo!!!'))
#print(int('123'))

Olá Mundo!!!

5 - Crie uma variável nome e atribua para a mesma um nome digitado pelo usuário:

In [6]:
nome = input('Digite o seu nome: ').capitalize()

print(f'seu nome é {nome}')

seu nome é Jhonata

6 - Exiba em tela o valor e o tipo de dado da variável num1: Sendo num1 = 1987.

In [7]:
num1 = 1987
nome = 'jhonata'
boleano = bool('True ou False')
flutuante = 1.44

print(num1)
print(type(num1))

print(nome)
print(type(nome))

print(boleano)
print(type(boleano))

print(flutuante)
print(type(flutuante))

1987
<class 'int'>
jhonata
<class 'str'>
True
<class 'bool'>
1.44
<class 'float'>

7 - peça para o usuário digitar um número em seguida exibir em tela o número digitado.

In [3]:
num = float(input('Digite um número inteiro: '))

if num.is_integer():
  num = int(num)
  print(f'O número digitado é {num}')
else:
  print('Entrada inválida')

Entrada inválida

In [3]:
#criando um loop utilizado while(enquanto)
while True:
  try:
    num = float(input('Digite um número inteiro: '))

    if num.is_integer():
      num = int(num)
      print(f'O número digitado é {num}')
      
    else:
      print('Entrada inválida. Certifique-se que está digitando um número inteiro.')
      
  except ValueError:
    break

O número digitado é 10
O número digitado é 1
O número digitado é 2
O número digitado é 3
O número digitado é 4
Entrada inválida. Certifique-se que está digitando um número inteiro

8 - Peça para que o usuário digite um número, em seguida converta para float, exibindo em tela tanto o número em si quanto o seu tipo de dado:

In [4]:
num = input('Digite um número: ')
num = float(num)

print(num)
print(type(num))

2.0
<class 'float'>

9 - crie uma lista com 5 nomes de de pessoas:

In [29]:
lista = ['joao','jose','maria','marta','jhonata']


print(lista[0:5])

print(lista[4])

print(lista[0:0])

print(lista[2:4])

['joao', 'jose', 'maria', 'marta', 'jhonata']
jhonata
[]
['maria', 'marta']

10 - Mostre o tamanho da lista , o número de elementos da lista:
     Mostre separadamente apenas o terceiro elemento dessa lista:

In [32]:
'''A questão está mal formulada pois a resposta no livro é print(nomes[3]). 
O terceiro elemento ou terceiro item seria o de número 2. 
pois a contagem se inicia no número 0 e nesse caso, encerra no 4. Logo o terceiro elemento é o número 2
de acordo com a regra de contagem de itens em listas.
Se fosse solicitado o elemento de número 3, aí sim a questão estaria correta e de acordo com a resolução do livro. '''
print(len(lista))

print(lista[2])

5
maria